<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectandroid">

    <application
        android:name=".Demo10.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAndroid">

        <activity android:name=".Demo08.DetailActivity"
            android:parentActivityName=".Demo08.ListProductActivity"/>
        <activity android:name=".Demo08.ListProductActivity"
            android:parentActivityName=".Demo08.Main_Demo08"/>

        <activity android:name=".Demo09.DetailActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity android:name=".Demo09.ListProductActivity" />

        <activity android:name=".Demo01.Main_Demo01" />
        <activity android:name=".Demo02.Main_Demo02" />
        <activity android:name=".Demo03.Main_Demo03" />
        <activity android:name=".Demo04.Main_Demo04" />
        <activity android:name=".Demo05.Main_Demo05" />
        <activity android:name=".Demo06.Main_Demo06" />
        <activity android:name=".Demo07.Main_Demo07" />
        <activity android:name=".Demo08.Main_Demo08" />
        <activity android:name=".Demo09.Main_Demo09" />
        <activity android:name=".Demo10.Main_Demo10" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>